name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Install Packages
        run: |
          npm i -f
      - name: Lint
        run: |
          # フォーマットをチェックします。失敗した場合は、npm run formatを実行するかしてください。ローカル環境の構築が難しい場合は、GitHub Actions から Format ワークフローを起動すると解決するかもしれません。
          npm run lint
      - name: Build
        run: |
          # ドキュメントをビルドしてリンク切れ等をチェックします。
          npm run build
